<section>
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input matInput placeholder="Username" ngModel name="username" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" ngModel name="password" required>
        </mat-form-field>
        
        <button type="submit" mat-raised-button color = "primary" class="button" [disabled]="f.invalid">Login</button>
    </form>
</section>